@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Learn about my favorite Podcast <a href="https://baconsale.com/e">Baconsale</a>, where a a movie critic and a comedian debate everything pop-culture.</p>

